.brands__items {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
}

.navbar {
  height: 100%;
}

.navbar li {
  height: 100%;
  padding: 26px 13px 26px 13px;
}

.nav-item:visited {
  color: #5cb68c;
  height: 100%;
}

.nav-item:hover {
  text-decoration: none;
  color: #fff;
  background: #5cb68c;
  height: 100%;
}