.navbar {
    color: #333333;
}

.navbar__button-container {
    padding: 28px 13px 28px 13px;
}

.navbar__button-container a {
    border: white solid 1px;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}